{% extends 'base.html' %}
{% block nav %}
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/index">Home</a>
          <a class="blog-nav-item" href="/post">Posts</a>
          <a class="blog-nav-item" href="/comment">Comments</a>
          <a class="blog-nav-item" href="/about">About</a>
        </nav>
      </div>
    </div>
{% endblock %}

{% block content%}
    <div class="col-sm-8 blog-main">
        {% for item in data %}
<!--                <td>{{ item.article_name }}</td>-->
                {% block post%}
                <div class="blog-post">
                    <h2 class="blog-post-title">{{item.article_name}}</h2>
                    <p class="blog-post-meta">by <a href="#">Yichun</a></p>
              
                    <p class="text-justify">
                        {{item.content}}
                    </p>
                </div>
                {% endblock%}
        {% endfor %}
    </div>
{% endblock %}