{% extends 'base.html' %}
{% block nav %}
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/index">Home</a>
{#        TODO 注意此处可被输入地址绕过#}
        {% if request.session.is_login %}
          <a class="blog-nav-item active" href="/post">Post</a>
        {%  endif %}
          <a class="blog-nav-item" href="/comment">Comments</a>
          <a class="blog-nav-item" href="/about">About</a>
            {% if request.session.is_login %}
                  <a class="blog-nav-item pull-right" href="/logout">Logout</a>
                <a class="blog-nav-item pull-right" href="#">Current User：{{ request.session.user_name }}</a>
              {% else %}
                  <a class="blog-nav-item pull-right" href="/login">Login</a>
                    <a class="blog-nav-item pull-right" href="/register">Register</a>
              {% endif %}
        </nav>
      </div>
    </div>
{% endblock %}

{% block content%}
    <div class="col-sm-8 blog-main">
        <form action="/post/" method="post">
            {% csrf_token %}
            <div class="form-group">
                  {{ form.title.label_tag }}
                    <br/>
                  {{ form.title}}
              </div>
              <div class="form-group">
                  {{ form.content.label_tag }}
                  <br/>
                  {{ form.content }}
              </div>
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}